
#basicMajor {
    background-color:#ECECFF;
    width: 110px; height: 45px;
    text-align: center;
    line-height: 45px;
    border-style: solid;
    border-color:#C3AFDE;
    border-width: 1px;
    border-radius: 3px;
    display: inline-block;

}

#majorSelection {
    background-color:#FFD072;
    width: 110px; height: 45px;
    text-align: center;
    line-height: 45px;
    border-style: solid;
    border-color:#b28704;
    border-width: 1px;
    border-radius: 3px;
    display: inline-block;

}